/* This scss file is not included in index.html - it is used to generate main.css */
/* Generate main.css by running:

sass assets/stylesheets/main.scss assets/stylesheets/main.css

*/

body {
  font-family: "Roboto Condensed", sans-serif;
}


.no-margin {
  margin: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}


.log-paragraph {
  margin-bottom: 0; }

//canvas {
//  position:absolute;
//  left: 0;
//  right: 0;
//  margin: auto
//  /*alpha:0.5;*/
//}


//.canvas-container {
//  z-index: 2;
//  /* Keep above log-container so don't catch scroll events */
//  position: absolute; }

.log-container {
  overflow-y: scroll; }

#base-log {
  height: 200px; }

html,
body {
  height: 100%;
  margin: 0
}

.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

// Fit to content
.flex-box .flex-row.header-bar {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  background: grey;
}

// Fill content:
.flex-box .flex-row.main-content {
  flex: 1 1 auto;
  //text-align: center;
  //background: #b2cfff;
  background: #a7cbd5; // http://colorpalettes.net/color-palette-3750/
  padding: 2px;
}

// Fixed height:
.flex-box .flex-row.bottom-bar {
  //flex: 0 1 5rem; // todo min height?
  flex: 0 1 auto; // fill to content
}


.main-content {
  position: relative;

  #ability-tooltip {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    background: rgba(22,22,22,0.75);
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.875rem;

    table {
      margin-bottom: 0;
    }
    .name {
      font-size: 1rem;
    }
    .description {
      //color: #ffd12c; // WoW color
      color: #A6A8F5; // league of legends color
      width: 17.5rem;

      .spell-power {
        color: #99F399;
      }
    }
  }
}


.bottom-bar {
  background: #71777d;

  display: flex;
  flex-flow: row;

  // Centering bottom bar according to https://stackoverflow.com/a/32546033/4904996
  .bottom-section {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0.5rem;
  }

  #player-bars {
    align-items: center;
    #player-health {
      margin-bottom: 0.25rem;
    }
    #player-mana {
      //height: 1.5rem;
    }
  }
  #ability-bar {

  }
  #item-area {

  }
}


#cast-bar {
  position:absolute;
  bottom:1rem;
  left:50%;
  margin-left:-10rem;
  height:1rem;
  width:20rem;

  .bar {
    height: 1.5rem;

    .bar-text {
      text-align: center;
    }
  }
}

#ally-frames, #enemy-frames {
  padding: 1rem;
}
.ally-frame, .enemy-frame {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: flex-start;
  padding: 0.35rem;

  &.dead {
    .health-area {
      cursor: default;
    }
  }

  .portrait-area {
    flex: 0 0 5rem;

    padding: 0.2rem;

    position: relative;
  }
  .health-area {
    flex: 0 0 10rem; // fixed width

    background: #444;
    border-radius: 0.25rem;
    padding: 0.2rem;
    color: white;

    cursor: pointer;

    border: 1.5px solid black;
    &.targeted {
      border: 1.5px solid white;
      box-shadow: 0 0 3px 1px #555;
    }
  }
  .effects-area {
    flex: 1 1 auto; // fill content

    padding: 0.25rem;
  }
}
.ally-frame {
  .effects-area {
    text-align: right;
  }
}
.enemy-frame {
  .portrait-area {
    text-align: right;
  }
}




.combat-text {
  position: absolute;

  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: example;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;

  /* Standard syntax */
  animation-name: example;
  animation-duration: 1.5s;
  animation-timing-function: linear;

  // Default state (hidden)
  opacity: 0.0;
  bottom: 0.25rem;

  &.heal {
    color: #009933;
  }
}

// TODO how are we going to offset more with bigger numbers?
// ally text is left aligned, offset to the right
.ally-frame {
  .combat-text {
    left: 0.25rem;

    &.offset {
      left: 2.25rem;
    }
  }
}
// enemy text is inverted; right aligned, offset to the left
.enemy-frame {
  .combat-text {
    right: 0.25rem;

    &.offset {
      right: 2.25rem;
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  10% {
    opacity: 1.0;
  }
  80% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
    bottom: 2.25rem;
  }
}

/* Standard syntax */
@keyframes example {
  10% {
    opacity: 1.0;
  }
  80% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
    bottom: 2.25rem;
  }
}






















.bar {
  position:relative;
  overflow: hidden;
  height: 1.5rem;

  border: 1px solid #333;
  border-radius: 0.1rem;

  // TODO HACK: The inside of the bar is sometimes not reaching the very end (stuck at 99%)
  //            So setting box-sizing to content-box so it reaches full width. This makes the overall
  //            bar longer though, so reducing width
  box-sizing: content-box;
  //width: 100%;
  width: 99%;

  .bar-layer {
    position:absolute;
    height: 100%;

    &.background {
      background: linear-gradient(#666,#444);
    }
    &.health {
      background: linear-gradient(#00ff55, #009933);
    }
    &.mana {
      background: linear-gradient(#0000ff, #0000b3);
    }
    &.shield {
      background: linear-gradient(#ddd, #888);
      &.active {
        //box-shadow: 1px 0 2px white;
      }
    }

    &.casting {
      background: linear-gradient(#ff9900, #995c00);
      //border-right: 1px solid white;
      //box-shadow: 2px 0 3px white;
      box-shadow: 0 0 10px 6px white
    }
    &.cast-complete {
      background: linear-gradient(#00ff55, #009933);
    }
    &.cast-canceled {
      background: linear-gradient(#cc0000, #660000);
    }

    &.bar-text {
      margin-left: 0.15rem;
      color: white;
      text-shadow: 1px 1px 1px #000;
    }
  }
}










.action-bar-button, .effect {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  line-height: 1;
  text-align: center;

  overflow: hidden; // hide rest of canvas
  canvas {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 2;
  }

}
.action-bar-button {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  border: 1px solid black;
  //border-radius: 0.375rem; // TODO Removing border-radius because it makes icons that go up to the edge look weird

  // TODO HACK: If you have a border and leave the box-sizing at its default, the CooldownTimer spinner won't reach bottom
  //box-sizing: content-box;

  cursor: pointer;

  &.pressed {
    box-shadow: inset 0 0 4px 3px #438fff;
  }
  &.not-enough-mana {
    box-shadow: inset 0 0 0 3rem #001b4380;
  }
  &.invalid-target {
    box-shadow: inset 0 0 0 3rem #001b4380;
  }
  &.casting { // note: must come last so has priority
    //box-shadow: inset 0 0 1px 1px #fff, inset 0 0 4px 3px #ffc200;
    box-shadow: inset 0 0 1px 1px #e7d000, inset 0 0 3px 3px #fff, inset 0 0 6px 6px #e7d000;
  }

  .hotkey {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.9rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
  .spell-name {
    display:block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1.25rem;
    color: white;
    font-size: 0.9rem;
  }
}
.effect {
  width: 2rem;
  height: 2rem;
  //margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  border: 1px solid black;
  border-radius: 0.188rem;

  // TODO HACK: If you have a border and leave the box-sizing at its default, the CooldownTimer spinner won't reach bottom
  //box-sizing: content-box;

  line-height: inherit; // center text vertically

  .effect-name {
    display:block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0.5rem;
    color: white;
    font-size: 0.65rem;
  }
  .duration {
    display:block;
    position: absolute;
    text-align: center;
    width:100%;
    bottom: -0.8rem;
    color: black;
    font-size: 0.75rem;
  }

}

.action-bar-button, .effect {

  /*    icons:    */
  // Icons from https://game-icons.net
  // When exporting:
  //    Background: gradient -> color -> transparent, shape -> rounded square, corner radius -> 64    none
  //    Foreground: make max size, then possibly shrink. Most are shrunk twice
  //    Size and preset: dimensions -> 128px

  &.hand-bandage:before {
    content: url('icons/hand-bandage.svg');
  }
  &.healing:before {
    content: url('icons/healing.svg');
  }
  &.shield:before {
    content: url('icons/shield.svg');
  }
  &.mighty-force:before {
    content: url('icons/mighty-force.svg');
  }
  &.splashy-stream:before {
    content: url('icons/splashy-stream.svg');
  }
  &.angel-outfit:before {
    content: url('icons/angel-outfit.svg');
  }
  &.explosion-rays:before {
    content: url('icons/explosion-rays.svg');

    //content: '';
    //background-image: url('icons/explosion-rays.svg');
  }

  &.acorn:before {
    content: url('icons/acorn.svg');
  }
  &.lotus-flower:before {
    content: url('icons/lotus-flower.svg');
  }
  &.light-thorny-triskelion:before {
    content: url('icons/light-thorny-triskelion.svg');
  }
  &.fairy:before {
    content: url('icons/fairy.svg');
  }
  &.flowers:before {
    content: url('icons/flowers.svg');
  }
  // todo vine-flower instead?

  // Making the icon bigger than usual, filling square
  //&.explosion-rays:before {
  //  height: 60px;
  //  width: 60px;
  //  top:-3px;
  //  left:-3px;
  //  display:inline-block;
  //  position:relative;
  //}

  /*    backgrounds:    */
  // Backgrounds from https://gradienthunt.com
  // TODO Support old browsers (like in blank)
  // New site: https://uigradients.com

  &.blank {
    background: rgb(55,55,55); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(44,44,44,1) 44%, rgba(33,33,33,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(55,55,55,1) 0%,rgba(44,44,44,1) 44%,rgba(33,33,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(55,55,55,1) 0%,rgba(44,44,44,1) 44%,rgba(33,33,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &.green-blue {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(30,240,95,1) 0%, rgba(20,40,225,1) 90% );
    //background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(8,213,172,1) 0.6%, rgba(5,126,108,1) 90% );
  }
  &.pink {
    background: linear-gradient( 110.4deg,  rgba(251,203,159,1) 36%, rgba(244,137,233,1) 82.4% );
  }
  &.sunny {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,221,0,1) 0%, rgba(240,107,5,1) 90% );
  }
  &.yellow {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,200,124,1) 0%, rgba(252,251,121,1) 90% );
  }
  &.beige {
    background: radial-gradient( circle farthest-corner at 8.2% 19.3%,  rgba(208,182,177,1) 0%, rgba(237,195,146,1) 90.1% );;
  }
  &.purple-blue {
    background: radial-gradient( circle farthest-corner at 3.6% 26.5%,  rgba(106,19,253,1) 0.1%, rgba(18,134,242,1) 90% );
  }
  &.opal {
    background: radial-gradient( circle 253px at 12.6% 77.9%,  rgba(221,255,214,1) 0.3%, rgba(214,254,254,1) 90.5% );
  }
  &.grey {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(94,123,143,1) 0%, rgba(172,192,205,1) 90% );
  }

  &.black-red-yellow {
    background: linear-gradient( 108.5deg,  rgba(30,59,94,1) 4%, rgba(253,29,62,1) 49.3%, rgba(255,224,94,1) 96% );
  }
  &.purple-opal {
    background: radial-gradient( circle farthest-corner at 10.6% 23.3%,  rgba(186,162,252,1) 0%, rgba(176,248,242,1) 72.4% );
  }
  &.green-white {
    //background: linear-gradient( 0deg,  rgba(37,94,23,1) 7.7%, rgba(246,253,213,1) 93.3% );
    background-image: radial-gradient( circle farthest-corner at 73.4% 82.3%,  rgba(37,94,23,1), rgba(246,253,213,11) 90% );
  }
  &.rainbow {
    background: linear-gradient( 111.1deg,  rgba(233,53,0,1) 11.3%, rgba(200,19,211,1) 37.6%, rgba(50,142,162,1) 76.6%, rgba(39,138,255,1) 113% );
  }
  &.green-red {
    background-image: radial-gradient(circle farthest-corner at 15.4% 10.2%, #9ee49e 0%, #ff5050 90%);
  }
  &.brown {
    background-image: radial-gradient( circle farthest-corner at 73.4% 82.3%,  rgba(153,102,51,1) 0%, rgba(217,179,140,1) 90% );
  }

  &.forest {
    //background: #5a3f37; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to top, #5a3f37, #2c7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6c493e, #58e585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.dracula {
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}


.tabs {
  background: transparent;
  border: none;
}
.tabs li a {
  background: transparent;
  color: #bfbfbf;
  padding: 0.75rem 1.5rem;
}
.tabs li.is-active a {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/
}
.tabs li a:hover {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/
}


td.nostretch, th.nostretch {
  width: 1%;
  white-space: nowrap;
}
table {
  background: transparent;
  tbody {
    background: transparent;
    border: none;
  }
}
table.no-rows{
  tbody tr.even,
  tbody tr:nth-of-type(even),
  tbody tr.odd,
  tbody tr:nth-of-type(odd){
    background: transparent;
  }
}
table.tight-spacing {
  tbody tr td {
    padding: 0.25em 0.25em;
  }
}
table.no-spacing {
  tbody tr td {
    padding: 0;
  }
}





// TODO Can remove this...
// Failed mana globe idea

//<div class="stage">
//<div id="mana-globe">
//<div class="empty"></div>
//<div class="surface"></div>
//<span class="shadow"></span>
//</div>
//</div>


//#mana-globe {
//  display: inline-block;
//  width: 100%;
//  height: 100%;
//  margin: 0;
//  border-radius: 50%;
//  border: 1px solid #555;
//  //background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
//  background: radial-gradient(circle at 50% 10%, #062745, #055194 50%, #34909f 100%);
//
//  overflow: hidden;
//  position: relative;
//
//  .shadow {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
//    transform: rotateX(90deg) translateZ(-50px);
//    z-index: -1;
//    bottom: 0;
//  }
//
//  .empty {
//    width:100%;
//    height: 40%;
//    background: #71777d;
//  }
//
//  .surface {
//    width: 100%;
//    position: absolute;
//    top: 37%;
//    height: 3%;
//    //background: #055194;
//    background: #4b7599;
//  }
//}
//#mana-globe:before {
//  content: "";
//  position: absolute;
//  //top: 1%;
//  top: 6%;
//  left: 5%;
//  width: 90%;
//  height: 90%;
//  border-radius: 50%;
//  background: radial-gradient(circle at 50% 0px, rgba(255,255,255,0.6), rgba(255, 255, 255, 0) 58%);
//  filter: blur(5px);
//  z-index: 2;
//}
//
//.stage {
//  width: 100px;
//  height: 100px;
//  display: inline-block;
//  perspective: 400px;
//  perspective-origin: 50% 50%;
//
//  position: absolute;
//  bottom: 1rem;
//  left: 1rem;
//
//}


