/* This scss file is not included in index.html - it is used to generate main.css */
/* Generate main.css by running:

sass assets/stylesheets/main.scss assets/stylesheets/main.css

*/

// space
// https://lospec.com/palette-list/nyx8
$top-bar-bg: #0f2a3f;
$main-content-bg: #08141e;
$center-area-bg: transparent;
$main-frames-bg: transparent;
$bottom-bar-bg: #816271;
$bottom-bar-border: #4e495f;
$navigation-menu: #4e495f;
$health-border: transparent;
$health-border-targeted: #f6d6bd;
$portrait-bg: #20394f;
$button-color: #4e495f;
$button-hover-color: #3b3748;
$button-disabled: #2f2c3a;

$mini-map-button: #08141e;
$mini-map-button-border: #4e495f;
$mini-map-button-hover: #0f2a3f;

// this could be cool too: https://lospec.com/palette-list/oil-6
$dark-purple: #272744;
$purple: #494d7e;
$pink: #8b6d9c;
$baishe: #c69fa5;
$gold: #f2d3ab;
$light: #fbf5ef;

// https://lospec.com/palette-list/nyx8
$nyx8-black: #08141e;
$nyx8-dark-blue: #0f2a3f;
$nyx8-blue: #20394f;
$nyx8-baishe: #f6d6bd;
$nyx8-gold: #c3a38a;
$nyx8-brown: #997577;
$nyx8-maroon: #816271;
$nyx8-purple: #4e495f;

// https://lospec.com/palette-list/slso8
$slso8-dark-blue: #0d2b45;
$slso8-blue: #203c56;
$slso8-purple: #544e68;
$slso8-maroon: #8d697a;


$unit1: #3366ff;
$unit2: #00ffff;
$unit3: #9933ff;
$unit4: #ffff00;
$unit5: #ff9933;

/* ------------------------------------------------- Overall fonts / backgroud -------------------------------------- */


body {
  //font-family: "Roboto Condensed", sans-serif;
  font-family: monospace, monospace;
  color: $light;
  background: $nyx8-black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace, monospace;
  //font-weight: bold;
  letter-spacing: 1px;
}

a {
  color: $gold;

  &:hover {
    color: $baishe;
  }
}


/* ------------------------------------------------- Layout --------------------------------------------------------- */

$top-bar-height: 1.5rem;
$bottom-bar-height: 10rem;

#top-bar {
  position:fixed;
  top:0;

  height:$top-bar-height;
  width:100%;

  z-index: 2;

  a {
    margin: 0 1rem;
  }
}

#main-content {
  margin-top:$top-bar-height;
  margin-bottom: 0;

  min-height: calc(100vh - #{$top-bar-height});

  position: relative;

  #units-area {
    display: none; // will be shown by combat-ui

    z-index: 2;

    table {
      height: 100%;

      td.relative-container {
        position: relative; // so the divs inside this td can overlap

        #ally-frames, #enemy-frames, #mini-map {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }

        #ally-frames {
          text-align: right;
        }
      }
    }
  }

  #background-art {
    line-height: 1em;
    z-index: 1;

    .hoverable {
      cursor: pointer;
    }
  }
  #background-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;

    span.overlay-text {
      position: absolute;
      display: none; // will be shown on hover
      cursor: pointer;

      line-height: 1.1;
      background: $nyx8-black;

      &.bordered {
        border: 5px solid $nyx8-black; // note: 5px should match constant in background_ui.js
      }
    }

  }
  #popup-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;

    .ui-popup {
      position: absolute;
      left: 50%;
      transform: translate(-50%);

      width: 40%;
      top: 5rem;
      padding: 0.5rem;

      &.left-aligned {
        left: 1rem;
      }
      &.right-aligned {
        right: 1rem;
      }

    }

    #party-selector {
      width: 80%;

      .header {
        padding: 0.5rem;
      }

      .party-table {
        td {
          text-align: center;
          vertical-align: top;
          padding-left: 2rem;
          padding-right: 2rem;

          .slot-title {
            font-size: 0.75rem;
          }

          .static-unit-name {
            height: 1.75rem;
          }

          .party-slot {
            text-align: left;
            height: 10rem;
            background: $nyx8-black;
            border: 1px solid $nyx8-gold;
            position: relative;
            margin-bottom: 0.5rem;

            .ascii-content {
              position: absolute;
              overflow: visible;
              bottom: 0.5rem;
              line-height: 1.25;
            }
          }

          .unit-stats {
            margin-top: 0.5rem;
            text-align: left;
          }
        }
      }

      .footer {
        padding: 1rem;
      }
    }

    #building-popup {
      height: 60vh;
      width: 40%;


      .header {
        height: 10%;
      }

      .inner-content {
        overflow-y: scroll;
        height: 70%;
      }

      .footer {
        height: 20%;
      }
    }

    #world-map {
      height: 80vh;
      width: 80%; // note: this makes a width of 94 characters for map

      .ascii-content {
        overflow-y: scroll;
        height: calc(100% - 1.5rem);
        overflow-x: hidden;
        line-height: 1;
      }
    }

    #return-to-town {
      text-align: center;

      .inner-content {
        padding: 1rem;
      }
    }
  }
}

#bottom-bar {
  position:fixed;
  bottom:0;

  height:$bottom-bar-height;
  width:100%;

  display: none; // shown by .combat-ui

  z-index:2;
}

body.combat-ui {
  #main-content {
    margin-bottom: $bottom-bar-height;

    min-height: calc(100vh - #{$top-bar-height} - #{$bottom-bar-height});

    #units-area {
      display: block;
    }

    #background-art {
      opacity: 0.7;
    }
  }
  #bottom-bar {
    display: block;
  }
}

.restricted-width {
  margin: 0 auto; // center horizontally
  // Note: width will be set in background_ui.js

  position: relative;
}


/* ------------------------------------------------- Scrollbars ----------------------------------------------------- */
// Note: Only affects webkit (chrome, safari)

::-webkit-scrollbar {
  width: 12px;
  background-color: #888;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  //border-radius: 9px;
  background-color: #888;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;

  border: 2px solid transparent;
  background-clip: content-box;
}

/* ------------------------------------------------- Color Scheme --------------------------------------------------- */

#top-bar {
  background:$slso8-dark-blue;
  border-bottom:1px solid $slso8-blue;
}
#bottom-bar {
  //background:$nyx8-blue;
  background:$slso8-dark-blue;
  border-top: 1px solid $slso8-blue;

  .bottom-container {
    margin: 0.5rem;
    //padding: 0.5rem;
    height: 9rem;
    background: $slso8-blue;
    border: 1px solid $slso8-purple;
  }

}
.ui-popup {
  border: 1px solid $gold;
  background: $nyx8-blue;

  .header {
    color: $gold;
  }

  .inner-content {
    background: $nyx8-dark-blue;
  }

  .footer {

  }
}




#background-art {

  .green {
    color: #00ff00;
  }
  .brown {
    color: #bf8040;
  }
  .darkbrown {
    color: #734d26;
  }
  .lightbrown {
    color: #dfbf9f;
  }

  .white-beige {
    color: #f6d6bd;
  }
  .orange {
    color: darkorange;
  }
  .beige {
    color: #ffcc99;
  }
  .yellow {
    color: #cccc00;
  }
  .white {
    color: white;
  }
  .grey {
    //color: #666699;
    color: #8c8c8c;
  }
  .blue {
    color: #404fcc;
  }
  .red {
    color: #cb4154;
  }
  .black {

  }
  .darkblue {
    color: #a8ccd7;
  }
}





// -------------------------------------------------------- Detailed frames (one for player, one for target)

#target-frame-container {
  position: absolute;
  top:0;
  left:50%;
  transform:translate(-50%);
  z-index:3;

  #target-frame {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width:250px;

    background: $nyx8-black;
    border: 1px solid $nyx8-purple;

    .portrait {
      height: 3.75rem;
      width: 3.75rem;

      background: $portrait-bg;
      border-radius: 30%;
      border: 1px solid black;

      color: white;
      font-size: 1.1rem;
      line-height: 1.25;
      padding-left: 0.85rem;
      padding-top: 0.35rem;
      margin-right: 0.5rem;
    }

    .bar {
      margin-bottom: 0.25rem;
    }

  }
}



// -------------------------------------------------------- Unit frames

#unit-frame-template {
  display: none;
}
.unit-frame {
  display: inline-block;
  //width: 20%;
  padding: 0.1rem;
  height: 100%;
  text-align: left;

  .flex-col {
    display: flex;
    flex-flow: column;
    height: 100%;
    
    justify-content: flex-end;

    .name-area {
      height: 1rem;
      font-size: 0.8rem;
      text-align: center;

      .name-text {
        background: $nyx8-black;
      }
    }

    .combat-text-area {
      position: relative;
      height: 3rem;

      .combat-text {
        left: 0.25rem;

        &.offset-1 {
          left: 2.25rem;
        }
        &.offset-2 {
          left: 4.25rem;
        }
        &.offset-3 {
          left: 6.25rem;
        }
        &.offset-4 {
          left: 8.25rem;
        }
        &.offset-5 {
          left: 10.25rem;
        }
        // todo better way to do this
      }
    }

    .clickable-area {
      .click-target {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        cursor: pointer;

      }
      position: relative;
      padding: 0.1rem;
      border: 1.5px solid $health-border;
      
      height: 10rem;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      
      
      &.targeted {
        border: 1.5px solid $health-border-targeted;
        box-shadow: 0 0 3px 1px #555;
      }
      .image {
        // When displaying name:
        //white-space: nowrap;
        //overflow: hidden;
        //-ms-text-overflow: ellipsis;
        //text-overflow: ellipsis;
        
        //padding-left: 1rem;
        font-family: monospace;
        line-height: 1.25;

        .ascii-content {
          display: block;
          overflow: visible;

          position: absolute;
          bottom: 1.35rem;
          left: 0;
        }
      }

      $level-height: 17px;

      .bar.health-bar {
        height: 0.75rem;
        margin-left: $level-height;
      }
      .bar.mana-bar {
        height: 0.35rem;
        margin-left: $level-height;
      }


      .level-and-color {
        position: absolute;
        background: $dark-purple;
        border: 1px solid $purple;
        color: $light;
        width: $level-height;
        text-align: center;
        height: $level-height;
        font-size: 0.75rem;
        border-radius: 0.1rem;
        line-height: $level-height;
        //color: black;

        //&.unit-1 {
        //  background: $unit1;
        //}
        //&.unit-2 {
        //  background: $unit2;
        //}
        //&.unit-3 {
        //  background: $unit3;
        //}
        //&.unit-4 {
        //  background: $unit4;
        //}
        //&.unit-5 {
        //  background: $unit5;
        //}

      }

    }

    .effects-area {
      padding-top: 0.25rem;
      height: 2rem;
    }
  }
}

.inventory {
  > tbody > tr > td {
    padding: 0.15em 0.15em;
  }

  div {
    height: 2.5rem;
    width: 2.5rem;
    background: $nyx8-blue;
    border-radius: 0.313rem;
    border: 1px solid #aaa;
  }
}

.ascii-content {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre;
}



#center-area {
  //position: absolute;
  //left: 50%;
  //transform: translate(-50%);

  // center horizontally:
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  font-size: 0.5rem;
  top: 0;
  padding: 0.5rem 1rem;
  background: $center-area-bg;
  font-weight: bold;
  //border: 1px solid #4f1818;
  border-radius: 0.313rem;
}

#combat-log {
  padding: 0.5rem;
  height: 100%;
  overflow-y: scroll;

  p {
    //padding: 0 0.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;

    &.yellow {
      color: #ffff00;
    }
  }
}


// -------------------------------------------------------- Ability tooltip


#ability-tooltip, #misc-tooltip {
  position: absolute;
  bottom: calc(1rem + #{$bottom-bar-height});
  right: 1rem;

  border-radius: 0.25rem;
  width: 20rem;
}

.ability-tooltip {
  //background: rgba(55,22,22,1);
  background: $main-content-bg;
  border: 1px solid $bottom-bar-bg;
  padding: 0.5rem;
  color: white;
  font-size: 0.875rem;
  text-align: left;

  .name {
    font-size: 1rem;
  }
  .description {
    //color: #ffd12c; // WoW color
    color: #A6A8F5; // league of legends color
    //width: 17.5rem;

    .spell-power {
      color: #99F399;
    }
  }

}







#encounter-header {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.313rem;
  //background: $navigation-menu;
  color: white;

  flex: 0 1 auto; // fill to content

  text-align: center;

  //#encounter-info {
  //  //background: $top-bar-bg;
  //  margin-bottom: 1rem;
  //}
}


//.game-over {
//  border-radius: 0.313rem;
//  background: $navigation-menu;
//  padding: 0.5rem;
//
//  .skull {
//    height: 3rem;
//    width: 3rem;
//  }
//  .skull:before {
//    content: url('icons/skull-crack.svg');
//  }
//}



















// -------------------------------------------------------- Combat text

.combat-text {
  position: absolute;

  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: combat-text-fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;

  /* Standard syntax */
  animation-name: combat-text-fade;
  animation-duration: 1.5s;
  animation-timing-function: linear;

  // Default state (hidden)
  opacity: 0.0;
  bottom: 0.25rem;

  &.heal {
    //color: #009933;
    color: #00ff55;
  }

  &.white {
    //color: white;
    color: #fff;
  }
  &.red {
    color: #ff0000;
    //color: #fff;
  }
  &.yellow {
    color: #ffff00;
  }
  &.large {
    font-size: 1.4rem;
  }

  &.unit-1 {
    color: $unit1;
  }
  &.unit-2 {
    color: $unit2;
  }
  &.unit-3 {
    color: $unit3;
  }
  &.unit-4 {
    color: $unit4;
  }
  &.unit-5 {
    color: $unit5;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes combat-text-fade {
  10% {
    opacity: 1.0;
  }
  80% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
    bottom: 2.25rem;
  }
}

/* Standard syntax */
@keyframes combat-text-fade {
  10% {
    opacity: 1.0;
  }
  80% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
    bottom: 2.25rem;
  }
}









#abilities-modal {
  height: 90vh;

  //background: $bottom-bar-bg;

  background: #3b3021;
  color: white;
  
  font-size: 0.875rem;
}

#world-map-modal {
  height: 90vh;
  background: $main-content-bg;
  color: white;
  //font-size: 0.875rem;

  .ascii-content {
    font-size: 0.75rem;
    line-height: 1;
    height: 100%;
  }
}


#mini-map {
  .button {
    background-color: $mini-map-button;
    border-color: $mini-map-button-border;

    &:hover, &:focus {
      background-color: $mini-map-button-hover;
    }

  }
}

//#map-modal, #mini-map {
  .tile-name {
    // colors:
    &.green {
      color: green;
    }
    &.grey {
      color: grey;
    }
    &.white {
      color: white;
    }
    &.light-blue {
      color: lightblue;
    }
    &.orange {
      color: darkorange;
    }
    &.purple {
      color: mediumpurple;
    }
    &.beige {
      color: #ffcc99;
    }
    &.red {
      color: darkred;
    }
  }
//}

#map-modal {
  background: $main-content-bg;
  color: white;

  .map-name {
    font-family: monospace;
  }

  .ascii-content {
    //font-size: 0.75rem;
    line-height: 1;
    height: 100%;

    //padding: 0 4rem;
    max-width: 980px;
    margin: auto; // center horizontally
  }

  .map-table {
    table-layout: fixed; // equal width cells
    width: 100%;

    td {
      // Note: The td's padding-top and padding-bottom are set in javascript to be specific amounts
      //       This is important to making square cells

      text-align: center;
      position: relative;
      cursor: default;

      .travel-desc {
        position: absolute;
        bottom: 0.25rem;
        width: 100%;
        margin-left: -50%;
        display: none;
      }

      .tile-name {
        position: absolute;
        width: 100%;
        margin-left: -50%;
        display: none;
        font-size: 0.875rem;

        &.num-lines-1 {
          margin-top: -0.5rem;
        }
        &.num-lines-2 {
          margin-top: -1rem;
        }
        &.num-lines-3 {
          margin-top: -1.5rem;
        }

      }
    }

    td.visible .tile-name {
      display: inline-table;
    }
    td.visible:hover .travel-desc {
      display: inline-table;
    }
    // Dotted cell borders implemented with solution found here: https://stackoverflow.com/a/53309284/4904996

    //td.explored {
    //  background: linear-gradient(to right, #000 90%, #999 0%) top/10px 1px repeat-x, /* top */
    //  linear-gradient(#000 90%, #999 0%) right/1px 10px repeat-y, /* right */
    //  linear-gradient(to right, #000 90%, #999 0%) bottom/10px 1px repeat-x, /* bottom */
    //  linear-gradient(#000 90%, #999 0%) left/1px 10px repeat-y; /* left */
    //}

    td.visible:hover {
      background: linear-gradient(to right, #000 90%, #bbb 0%) top/10px 1px repeat-x, /* top */
      linear-gradient(#000 90%, #bbb 0%) right/1px 10px repeat-y, /* right */
      linear-gradient(to right, #000 90%, #bbb 0%) bottom/10px 1px repeat-x, /* bottom */
      linear-gradient(#000 90%, #bbb 0%) left/1px 10px repeat-y; /* left */
    }
    td.current-location, td.current-location:hover {
      background: linear-gradient(to right, #000 50%, #fff 0%) top/10px 1px repeat-x, /* top */
      linear-gradient(#000 50%, #fff 0%) right/1px 10px repeat-y, /* right */
      linear-gradient(to right, #000 50%, #fff 0%) bottom/10px 1px repeat-x, /* bottom */
      linear-gradient(#000 50%, #fff 0%) left/1px 10px repeat-y; /* left */
    }

    td.travelable:hover {
      cursor: pointer;
    }

    //td {
    //  background: linear-gradient(to right, #000 90%, #fff 0%) top/10px 1px repeat-x, /* top */
    //  linear-gradient(#000 90%, #fff 0%) left/1px 10px repeat-y; /* left */
    //
    //  &:last-child {
    //    background: linear-gradient(to right, #000 90%, #fff 0%) top/10px 1px repeat-x, /* top */
    //    linear-gradient(#000 90%, #fff 0%) right/1px 10px repeat-y, /* right */
    //    linear-gradient(#000 90%, #fff 0%) left/1px 10px repeat-y; /* left */
    //  }
    //}
    //
    //tr:last-child {
    //  td {
    //    background: linear-gradient(to right, #000 90%, #fff 0%) top/10px 1px repeat-x, /* top */
    //                linear-gradient(to right, #000 90%, #fff 0%) bottom/10px 1px repeat-x, /* bottom */
    //                linear-gradient(#000 90%, #fff 0%) left/1px 10px repeat-y; /* left */
    //
    //    &:last-child {
    //      background: linear-gradient(to right, #000 90%, #fff 0%) top/10px 1px repeat-x, /* top */
    //                  linear-gradient(#000 90%, #fff 0%) right/1px 10px repeat-y, /* right */
    //                  linear-gradient(to right, #000 90%, #fff 0%) bottom/10px 1px repeat-x, /* bottom */
    //                  linear-gradient(#000 90%, #fff 0%) left/1px 10px repeat-y; /* left */
    //    }
    //  }
    //}
  }
}



















// -------------------------------------------------------- Bars

.bar {
  position:relative;
  overflow: hidden;
  height: 1.35rem;
  font-size: 0.85rem;
  line-height: 1.4;

  border: 1px solid #111;
  border-radius: 0.1rem;

  // TODO HACK: The inside of the bar is sometimes not reaching the very end (stuck at 99%)
  //            So setting box-sizing to content-box so it reaches full width. This makes the overall
  //            bar longer though, so reducing width
  //box-sizing: content-box;
  //width: 100%;
  //width: 99%;

  .bar-layer {
    position:absolute;
    height: 100%;

    &.background {
      background: linear-gradient(#666,#444);

      &.red {
        background: linear-gradient(#800c0c,#5f0c0c);
      }
    }
    &.health {
      background: linear-gradient(#00ff55, #009933);
    }
    &.mana {
      //background: linear-gradient(#0000ff, #0000b3);
      background: linear-gradient(#1a1aff, #0000cc);
    }
    &.shield {
      background: linear-gradient(#ddd, #888);
      &.active {
        //box-shadow: 1px 0 2px white;
      }
    }

    &.casting {
      background: linear-gradient(#ff9900, #995c00);
      //border-right: 1px solid white;
      //box-shadow: 2px 0 3px white;
      box-shadow: 0 0 10px 6px white
    }
    &.cast-complete {
      background: linear-gradient(#00ff55, #009933);
    }
    &.cast-canceled {
      background: linear-gradient(#cc0000, #660000);
    }

    &.bar-text {
      margin-left: 0.15rem;
      color: white;
      text-shadow: 1px 1px 1px #000;
    }
  }

  &.cast-bar {
    .bar-layer.bar-text {
      text-align: center;
    }
  }
}





#player-frame {
  margin: 0 0.5rem;
}

#player-cast-bar, #player-mana-bar {
  //height: 1.35rem;
  //font-size: 0.85rem;
  //line-height: 1.4;

  //width: 19.5rem; // (button * num_buttons + button_margin * num_spaces) 3.5 * 5 + 0.5 * 4
  //margin: 0 auto;
  //margin-left: 0.2rem;
}

// -------------------------------------------------------- Abilities/effects
#ability-bar, #special-buttons {
  margin: 0.5rem 0.25rem;

  .action-bar-button {
    vertical-align: top;
  }
}
#spellbook-tooltip {
  position: absolute;
  border-radius: 0.25rem;
  border: 1px solid #91bbd4;
  
  width: 20rem;
  z-index: 2;
  
  &.show-right {
    right: -20.5rem;
    top: 0;
  }
  &.show-left {
    top: 0;
    left: -20.5rem;
  }
}
#spellbook {
  padding: 1rem;
  background: #4a3a16;
}


#ability-button-template, #equipped-ability-template, #spellbook-row-template, #spellbook-ability-template {
  display: none;
}

.button-container {
  //vertical-align: top;
  //text-align: center;

  .button-container-inner {
    width: 15rem;
    
    margin: 0.5rem;
    padding: 0.5rem;
    //height: 7rem;
    background: #4d2525;
    border: 1px solid black;
    position: relative;

    display: flex;
    flex-flow: row;

    &:hover {
      //border: 1px solid white;
      background: #622f2f;
      cursor: pointer;
    }

    &.selected {
      border: 1px solid white;
      background: #622f2f;
    }
  }
}

.action-bar-button, .effect {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  line-height: 1;
  text-align: center;

  overflow: hidden; // hide rest of canvas
  canvas {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 2;
  }

}
.action-bar-button {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  border: 1px solid black;
  //border-radius: 0.375rem; // TODO Removing border-radius because it makes icons that go up to the edge look weird

  // TODO HACK: If you have a border and leave the box-sizing at its default, the CooldownTimer spinner won't reach bottom
  //box-sizing: content-box;

  cursor: pointer;

  &.pressed {
    box-shadow: inset 0 0 4px 3px #438fff;
  }
  &.not-enough-mana {
    box-shadow: inset 0 0 0 3rem #001b4380;
  }
  &.invalid-target {
    box-shadow: inset 0 0 0 3rem #001b4380;
  }
  &.casting { // note: must come last so has priority
    //box-shadow: inset 0 0 1px 1px #fff, inset 0 0 4px 3px #ffc200;
    box-shadow: inset 0 0 1px 1px #e7d000, inset 0 0 3px 3px #fff, inset 0 0 6px 6px #e7d000;
  }

  .hotkey {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.9rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
}
.effect {
  width: 1.25rem;
  height: 1.25rem;
  //margin-top: 0.25rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;

  border: 1px solid black;
  border-radius: 0.1rem;

  // TODO HACK: If you have a border and leave the box-sizing at its default, the CooldownTimer spinner won't reach bottom
  //box-sizing: content-box;

  line-height: inherit; // center text vertically

  .effect-name {
    display:block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0.5rem;
    color: white;
    font-size: 0.65rem;
  }
  .duration {
    display:block;
    position: absolute;
    text-align: center;
    width:100%;
    bottom: -0.8rem;
    color: black;
    font-size: 0.75rem;
  }

}

.inner-content {
  .item:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
}
.item {
  font-size:0.875rem;
  //border:1px solid #555;
  margin:0 0.5rem;
  padding:0.5rem 0;


  .item-icon {
    margin-right: 0.4rem;
  }

  &.unlearned {
    opacity: 0.5;
  }
}

// no background, foreground white no shrink, size 64px
.item-icon {
  width: 3rem;
  height: 3rem;
  //margin-left: 0.25rem;
  //margin-right: 0.25rem;

  border: 1px solid $light;
  border-radius: 0.313rem;
  background: $nyx8-black;
  padding: 0.1rem;
}

.action-bar-button, .effect, .item-icon {

  /*    icons:    */
  // Icons from https://game-icons.net
  // When exporting:
  //    Background: gradient -> color -> transparent, shape -> rounded square, corner radius -> 64    none
  //    Foreground: make max size, then possibly shrink. Most are shrunk twice
  //    Size and preset: dimensions -> 128px

  // NEW:
  //    Background: none
  //    Foreground: make max size, then shrink twice
  //    Size and preset: 64px

  &.hand-bandage:before {
    content: url('icons/black/hand-bandage.svg');
  }
  &.healing:before {
    content: url('icons/black/healing.svg');
  }
  &.shield:before {
    content: url('icons/black/shield.svg');
  }
  &.mighty-force:before {
    content: url('icons/black/mighty-force.svg');
  }
  &.splashy-stream:before {
    content: url('icons/black/splashy-stream.svg');
  }
  &.angel-outfit:before {
    content: url('icons/black/angel-outfit.svg');
  }
  &.explosion-rays:before {
    content: url('icons/black/explosion-rays.svg');

    //content: '';
    //background-image: url('icons/black/explosion-rays.svg');
  }

  &.acorn:before {
    content: url('icons/black/acorn.svg');
  }
  &.lotus-flower:before {
    content: url('icons/black/lotus-flower.svg');
  }
  &.light-thorny-triskelion:before {
    content: url('icons/black/light-thorny-triskelion.svg');
  }
  &.fairy:before {
    content: url('icons/black/fairy.svg');
  }
  &.flowers:before {
    content: url('icons/black/flowers.svg');
  }
  // todo vine-flower instead?

  &.flying-flag:before {
    //content: url('icons/white/flying-flag.svg');
    content: url('icons/black/flying-flag.svg');
  }

  &.sword-brandish:before {
    content: url('icons/white/sword-brandish.svg');
  }
  &.viking-shield:before {
    content: url('icons/white/viking-shield.svg');
  }

  // Making the icon bigger than usual, filling square
  //&.explosion-rays:before {
  //  height: 60px;
  //  width: 60px;
  //  top:-3px;
  //  left:-3px;
  //  display:inline-block;
  //  position:relative;
  //}

  /*    backgrounds:    */
  // Backgrounds from https://gradienthunt.com
  // TODO Support old browsers (like in blank)
  // New site: https://uigradients.com

  &.blank {
    background: rgb(55,55,55); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(55,55,55,1) 0%, rgba(44,44,44,1) 44%, rgba(33,33,33,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(55,55,55,1) 0%,rgba(44,44,44,1) 44%,rgba(33,33,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(55,55,55,1) 0%,rgba(44,44,44,1) 44%,rgba(33,33,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &.green-blue {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(30,240,95,1) 0%, rgba(20,40,225,1) 90% );
    //background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(8,213,172,1) 0.6%, rgba(5,126,108,1) 90% );
  }
  &.pink {
    background: linear-gradient( 110.4deg,  rgba(251,203,159,1) 36%, rgba(244,137,233,1) 82.4% );
  }
  &.sunny {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,221,0,1) 0%, rgba(240,107,5,1) 90% );
  }
  &.yellow {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(255,200,124,1) 0%, rgba(252,251,121,1) 90% );
  }
  &.beige {
    background: radial-gradient( circle farthest-corner at 8.2% 19.3%,  rgba(208,182,177,1) 0%, rgba(237,195,146,1) 90.1% );;
  }
  &.purple-blue {
    background: radial-gradient( circle farthest-corner at 3.6% 26.5%,  rgba(106,19,253,1) 0.1%, rgba(18,134,242,1) 90% );
  }
  &.opal {
    background: radial-gradient( circle 253px at 12.6% 77.9%,  rgba(221,255,214,1) 0.3%, rgba(214,254,254,1) 90.5% );
  }
  &.grey {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(94,123,143,1) 0%, rgba(172,192,205,1) 90% );
  }

  &.black-red-yellow {
    background: linear-gradient( 108.5deg,  rgba(30,59,94,1) 4%, rgba(253,29,62,1) 49.3%, rgba(255,224,94,1) 96% );
  }
  &.purple-opal {
    background: radial-gradient( circle farthest-corner at 10.6% 23.3%,  rgba(186,162,252,1) 0%, rgba(176,248,242,1) 72.4% );
  }
  &.green-white {
    //background: linear-gradient( 0deg,  rgba(37,94,23,1) 7.7%, rgba(246,253,213,1) 93.3% );
    background-image: radial-gradient( circle farthest-corner at 73.4% 82.3%,  rgba(37,94,23,1), rgba(246,253,213,11) 90% );
  }
  &.rainbow {
    background: linear-gradient( 111.1deg,  rgba(233,53,0,1) 11.3%, rgba(200,19,211,1) 37.6%, rgba(50,142,162,1) 76.6%, rgba(39,138,255,1) 113% );
  }
  &.green-red {
    background-image: radial-gradient(circle farthest-corner at 15.4% 10.2%, #9ee49e 0%, #ff5050 90%);
  }
  &.brown {
    background-image: radial-gradient( circle farthest-corner at 73.4% 82.3%,  rgba(153,102,51,1) 0%, rgba(217,179,140,1) 90% );
  }

  &.forest {
    //background: #5a3f37; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to top, #5a3f37, #2c7744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6c493e, #58e585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.dracula {
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}









// -------------------------------------------------------- Standard elements

.no-margin {
  margin: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}



.tabs {
  background: transparent;
  border: none;
}
.tabs li a {
  background: transparent;
  color: #bfbfbf;
  padding: 0.75rem 1.5rem;
}
.tabs li.is-active a {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/
}
.tabs li a:hover {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/
}


td.nostretch, th.nostretch {
  width: 1%;
  white-space: nowrap;
}
table {
  background: transparent;
  margin-bottom: 0;
  tbody {
    background: transparent;
    border: none;
  }
}
table.no-rows{
  > tbody > tr.even,
  > tbody > tr:nth-of-type(even),
  > tbody > tr.odd,
  > tbody > tr:nth-of-type(odd){
    background: transparent;
  }
}
table.tight-spacing {
  > tbody > tr > td {
    padding: 0.25em 0.25em;
  }
}
table.bottom-spacing {
  > tbody > tr > td {
    padding: 0 0 0.25em 0;
  }
}
table.no-spacing {
  > tbody > tr > td {
    padding: 0;
  }
}

.button {
  border-radius: 0.313rem;
  margin-bottom: 0;
}

a[disabled] {
  pointer-events: none;
  color: grey;
}

.button {
  background-color: $button-color;

  &:hover, &:focus {
    background-color: $button-hover-color;
  }

  &.disabled, &.disabled:hover, &.disabled:focus, &[disabled], &[disabled]:hover, &[disabled]:focus {
    background-color: $button-disabled;
  }
}

.no-focus-outline {
  &:focus {
    outline: none;
  }
}

.button.mini {
  margin: 0;
  padding: 0.1rem 0.5rem;
}

select {
  font-size: 0.75rem;
  padding: 0 1.5rem 0 0.5rem;
  height: 1.75rem;
  font-family: "Roboto Condensed", sans-serif;
}


// todo can delete this later:
//#top-bar {
//  height:$top-bar-height;
//  width:100%; // todo
//
//  background:$nyx8-blue;
//}
//#main-content {
//  height: calc(100vh - #{$top-bar-height});
//  overflow: auto;
//
//  &.bottom-bar-showing {
//    height: calc(100vh - #{$top-bar-height} - #{$bottom-bar-height});
//  }
//
//  background: $nyx8-black;
//}
//#bottom-bar {
//  height:$bottom-bar-height;
//  width:100%; // todo
//
//  display: none;
//  &.bottom-bar-showing {
//    display: block;
//  }
//
//  background:$nyx8-blue;
//}








//
//// -------------------------------------------------------- Main body layout
//
//#body-content {
//  display: flex;
//  flex-flow: column;
//  height: 100%;
//  background: $main-content-bg;
//
//  #header-bar {
//    flex: 0 1 auto; // fit to content
//    background: $top-bar-bg;
//    color: #888;
//    z-index: 2; // above background
//  }
//  #subheader-bar {
//    flex: 0 1 auto; // fit to content
//    color: white;
//    font-weight: bold;
//    z-index: 2; // above background
//
//    border-bottom: 1px solid #888;
//  }
//  #units-area {
//    flex: 1 1 auto; // fill remaining space
//
//    color: white;
//
//    //overflow: hidden; // in case a unit's image goes over the right side
//
//    position: relative;
//
//    table {
//      height: 100%;
//
//      td.relative-container {
//        // so the divs inside this td can overlap
//        position: relative;
//        #ally-frames, #enemy-frames, #mini-map {
//          //height: 100%;
//          position: absolute;
//          //top: 0;
//          bottom: 0;
//          left: 0;
//          right: 0;
//        }
//      }
//    }
//
//  }
//  #player-and-target-area {
//    flex: 0 1 auto; // fit to content
//    z-index: 2;
//
//    table {
//      tr td {
//        vertical-align: top;
//      }
//    }
//  }
//  #bottom-bar {
//    display: none;
//    height: $bottom-bar-height;
//
//    background: $dark-purple;
//
//    // Centering bottom bar according to https://stackoverflow.com/a/32546033/4904996
//    .bottom-section {
//      display: flex;
//      justify-content: center;
//      flex: 1;
//      padding: 0.5rem;
//    }
//  }
//}

