/* This scss file is not included in index.html - it is used to generate main.css */
/* Generate main.css by running

    sass assets/stylesheets/main.scss assets/stylesheets/main.css

*/
body {
  font-family: "Roboto Condensed", sans-serif; }

.no-margin {
  margin: 0; }

.no-bottom-margin {
  margin-bottom: 0; }

.log-paragraph {
  margin-bottom: 0; }

.log-container {
  overflow-y: scroll; }

#base-log {
  height: 200px; }

html,
body {
  height: 100%;
  margin: 0; }

.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%; }

.flex-box .flex-row.header-bar {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  background: grey; }

.flex-box .flex-row.main-content {
  flex: 1 1 auto;
  background: #a7cbd5;
  padding: 2px; }

.flex-box .flex-row.bottom-bar {
  flex: 0 1 auto; }

.main-content {
  position: relative; }
  .main-content #ability-tooltip {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: rgba(22, 22, 22, 0.75);
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.875rem; }
    .main-content #ability-tooltip table {
      margin-bottom: 0; }
    .main-content #ability-tooltip .name {
      font-size: 1rem; }
    .main-content #ability-tooltip .description {
      color: #A6A8F5;
      width: 17.5rem; }
      .main-content #ability-tooltip .description .spell-power {
        color: #99F399; }

.bottom-bar {
  background: #71777d;
  display: flex;
  flex-flow: row; }
  .bottom-bar .bottom-section {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0.5rem; }
  .bottom-bar #player-bars {
    align-items: center; }
    .bottom-bar #player-bars #player-health {
      margin-bottom: 0.25rem; }

#cast-bar {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -10rem;
  height: 1rem;
  width: 20rem; }
  #cast-bar .bar {
    height: 1.5rem; }
    #cast-bar .bar .bar-text {
      text-align: center; }

#ally-frames, #enemy-frames {
  padding: 1rem; }

.ally-frame, .enemy-frame {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: flex-start;
  padding: 0.35rem; }
  .ally-frame.dead .health-area, .enemy-frame.dead .health-area {
    cursor: default; }
  .ally-frame .portrait-area, .enemy-frame .portrait-area {
    flex: 0 0 5rem;
    padding: 0.2rem;
    position: relative; }
  .ally-frame .health-area, .enemy-frame .health-area {
    flex: 0 0 10rem;
    background: #444;
    border-radius: 0.25rem;
    padding: 0.2rem;
    color: white;
    cursor: pointer;
    border: 1.5px solid black; }
    .ally-frame .health-area.targeted, .enemy-frame .health-area.targeted {
      border: 1.5px solid white;
      box-shadow: 0 0 3px 1px #555; }
  .ally-frame .effects-area, .enemy-frame .effects-area {
    flex: 1 1 auto;
    padding: 0.25rem; }

.ally-frame .effects-area {
  text-align: right; }

.enemy-frame .portrait-area {
  text-align: right; }

.combat-text {
  position: absolute;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: example;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  /* Standard syntax */
  animation-name: example;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  opacity: 0.0;
  bottom: 0.25rem; }
  .combat-text.heal {
    color: #009933; }

.ally-frame .combat-text {
  left: 0.25rem; }
  .ally-frame .combat-text.offset {
    left: 2.25rem; }

.enemy-frame .combat-text {
  right: 0.25rem; }
  .enemy-frame .combat-text.offset {
    right: 2.25rem; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  10% {
    opacity: 1.0; }
  80% {
    opacity: 1.0; }
  100% {
    opacity: 0.0;
    bottom: 2.25rem; } }
/* Standard syntax */
@keyframes example {
  10% {
    opacity: 1.0; }
  80% {
    opacity: 1.0; }
  100% {
    opacity: 0.0;
    bottom: 2.25rem; } }
.bar {
  position: relative;
  overflow: hidden;
  height: 1.5rem;
  border: 1px solid #333;
  border-radius: 0.1rem;
  box-sizing: content-box;
  width: 99%; }
  .bar .bar-layer {
    position: absolute;
    height: 100%; }
    .bar .bar-layer.background {
      background: linear-gradient(#666, #444); }
    .bar .bar-layer.health {
      background: linear-gradient(#00ff55, #009933); }
    .bar .bar-layer.mana {
      background: linear-gradient(#0000ff, #0000b3); }
    .bar .bar-layer.shield {
      background: linear-gradient(#ddd, #888); }
    .bar .bar-layer.casting {
      background: linear-gradient(#ff9900, #995c00);
      box-shadow: 0 0 10px 6px white; }
    .bar .bar-layer.cast-complete {
      background: linear-gradient(#00ff55, #009933); }
    .bar .bar-layer.cast-canceled {
      background: linear-gradient(#cc0000, #660000); }
    .bar .bar-layer.bar-text {
      margin-left: 0.15rem;
      color: white;
      text-shadow: 1px 1px 1px #000; }

.action-bar-button, .effect {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  line-height: 1;
  text-align: center;
  overflow: hidden; }
  .action-bar-button canvas, .effect canvas {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 2; }

.action-bar-button {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border: 1px solid black;
  cursor: pointer; }
  .action-bar-button.pressed {
    box-shadow: inset 0 0 4px 3px #438fff; }
  .action-bar-button.not-enough-mana {
    box-shadow: inset 0 0 0 3rem #001b4380; }
  .action-bar-button.casting {
    box-shadow: inset 0 0 1px 1px #e7d000, inset 0 0 3px 3px #fff, inset 0 0 6px 6px #e7d000; }
  .action-bar-button .hotkey {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.9rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000; }
  .action-bar-button .spell-name {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1.25rem;
    color: white;
    font-size: 0.9rem; }

.effect {
  width: 2rem;
  height: 2rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border: 1px solid black;
  border-radius: 0.188rem;
  box-sizing: content-box;
  line-height: inherit; }
  .effect .effect-name {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0.5rem;
    color: white;
    font-size: 0.65rem; }
  .effect .duration {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -0.8rem;
    color: black;
    font-size: 0.75rem; }

.action-bar-button, .effect {
  /*    icons:    */
  /*    backgrounds:    */ }
  .action-bar-button.hand-bandage:before, .effect.hand-bandage:before {
    content: url("icons/hand-bandage.svg"); }
  .action-bar-button.healing:before, .effect.healing:before {
    content: url("icons/healing.svg"); }
  .action-bar-button.shield:before, .effect.shield:before {
    content: url("icons/shield.svg"); }
  .action-bar-button.explosion-rays:before, .effect.explosion-rays:before {
    content: url("icons/explosion-rays.svg"); }
  .action-bar-button.blank, .effect.blank {
    background: #373737;
    /* Old browsers */
    background: -moz-linear-gradient(top, #373737 0%, #2c2c2c 44%, #212121 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #373737 0%, #2c2c2c 44%, #212121 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #373737 0%, #2c2c2c 44%, #212121 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .action-bar-button.green, .effect.green {
    background: radial-gradient(circle farthest-corner at 10% 20%, #1ef05f 0%, #1428e1 90%); }
  .action-bar-button.pink, .effect.pink {
    background: linear-gradient(110.4deg, #fbcb9f 36%, #f489e9 82.4%); }
  .action-bar-button.sunny, .effect.sunny {
    background: radial-gradient(circle farthest-corner at 10% 20%, #fddd00 0%, #f06b05 90%); }
  .action-bar-button.yellow, .effect.yellow {
    background: radial-gradient(circle farthest-corner at 10% 20%, #ffc87c 0%, #fcfb79 90%); }

.tabs {
  background: transparent;
  border: none; }

.tabs li a {
  background: transparent;
  color: #bfbfbf;
  padding: 0.75rem 1.5rem; }

.tabs li.is-active a {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/ }

.tabs li a:hover {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/ }

td.nostretch, th.nostretch {
  width: 1%;
  white-space: nowrap; }

table {
  background: transparent; }
  table tbody {
    background: transparent;
    border: none; }

table.no-rows tbody tr.even,
table.no-rows tbody tr:nth-of-type(even),
table.no-rows tbody tr.odd,
table.no-rows tbody tr:nth-of-type(odd) {
  background: transparent; }

table.tight-spacing tbody tr td {
  padding: 0.25em 0.25em; }

table.no-spacing tbody tr td {
  padding: 0; }

/*# sourceMappingURL=main.css.map */
