/* This scss file is not included in index.html - it is used to generate main.css */
/* Generate main.css by running:

sass assets/stylesheets/main.scss assets/stylesheets/main.css

*/
body {
  font-family: "Roboto Condensed", sans-serif; }

.no-margin {
  margin: 0; }

.no-bottom-margin {
  margin-bottom: 0; }

.log-paragraph {
  margin-bottom: 0; }

.log-container {
  overflow-y: scroll; }

#base-log {
  height: 200px; }

html,
body {
  height: 100%;
  margin: 0; }

#body-content {
  display: flex;
  flex-flow: column;
  height: 100%; }
  #body-content #header-bar {
    flex: 0 1 auto;
    background: #0f2a3f;
    color: white; }
  #body-content #subheader-bar {
    flex: 0 1 auto;
    background: #08141e;
    color: white;
    font-weight: bold;
    padding: 0.25rem;
    padding-bottom: 0;
    border-bottom: 1px solid white; }
  #body-content #units-area {
    flex: 1 1 auto;
    padding: 0.25rem;
    background: #08141e;
    color: white;
    overflow: hidden;
    position: relative; }
    #body-content #units-area table {
      height: 100%; }
    #body-content #units-area #ally-frames, #body-content #units-area #enemy-frames {
      height: 100%; }
  #body-content #player-and-target-area {
    flex: 0 1 auto;
    background: #08141e; }
    #body-content #player-and-target-area table tr td {
      vertical-align: top; }
  #body-content #cast-bar-area {
    flex: 0 1 auto;
    background: #08141e;
    position: relative;
    height: 2rem; }
    #body-content #cast-bar-area #player-cast-bar {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      margin-left: -10rem;
      height: 1.5rem;
      width: 20rem; }
  #body-content #bottom-bar {
    display: flex;
    flex-flow: row;
    flex: 0 1 auto;
    min-height: 5rem;
    background: #816271;
    border: 2px solid #4e495f; }
    #body-content #bottom-bar .bottom-section {
      display: flex;
      justify-content: center;
      flex: 1;
      padding: 0.5rem; }

#player-frame, #target-frame {
  display: flex;
  flex-flow: row;
  padding: 0.75rem; }
  #player-frame .portrait, #target-frame .portrait {
    margin-top: 0.5rem;
    height: 5rem;
    width: 5rem;
    flex: 0 1 auto;
    background: #20394f;
    border-radius: 30%;
    border: 1px solid black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.25;
    padding-left: 1rem;
    padding-top: 0.5rem; }
  #player-frame .non-portrait, #target-frame .non-portrait {
    flex: 1 1 auto;
    padding: 0.5rem; }
    #player-frame .non-portrait .name, #target-frame .non-portrait .name {
      color: white;
      text-align: center; }
    #player-frame .non-portrait .health-bar, #player-frame .non-portrait .mana-bar, #target-frame .non-portrait .health-bar, #target-frame .non-portrait .mana-bar {
      margin-bottom: 0.25rem; }
    #player-frame .non-portrait .effects-area, #target-frame .non-portrait .effects-area {
      height: 2rem; }

#unit-background {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5; }
  #unit-background .g {
    color: green; }
  #unit-background .b {
    color: brown; }

#unit-frame-template {
  display: none; }

.unit-frame {
  display: inline-block;
  padding: 0.1rem;
  height: 100%; }
  .unit-frame .flex-col {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: flex-end; }
    .unit-frame .flex-col .combat-text-area {
      position: relative;
      height: 3rem; }
      .unit-frame .flex-col .combat-text-area .combat-text {
        left: 0.25rem; }
        .unit-frame .flex-col .combat-text-area .combat-text.offset-1 {
          left: 2.25rem; }
        .unit-frame .flex-col .combat-text-area .combat-text.offset-2 {
          left: 4.25rem; }
    .unit-frame .flex-col .clickable-area {
      position: relative;
      padding: 0.1rem;
      border: 1.5px solid transparent;
      height: 10rem;
      display: flex;
      flex-flow: column;
      justify-content: flex-end; }
      .unit-frame .flex-col .clickable-area .click-target {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        cursor: pointer; }
      .unit-frame .flex-col .clickable-area.targeted {
        border: 1.5px solid #f6d6bd;
        box-shadow: 0 0 3px 1px #555; }
      .unit-frame .flex-col .clickable-area .image {
        font-family: monospace;
        line-height: 1.25; }
        .unit-frame .flex-col .clickable-area .image pre {
          display: block;
          overflow: visible;
          position: absolute;
          bottom: 1rem;
          left: 0; }
      .unit-frame .flex-col .clickable-area .bar {
        height: 0.75rem; }
    .unit-frame .flex-col .effects-area {
      padding-top: 0.25rem;
      height: 2rem; }

#ability-tooltip {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
  width: 20rem; }

.ability-tooltip {
  background: #161616;
  padding: 0.5rem;
  color: white;
  font-size: 0.875rem;
  text-align: left; }
  .ability-tooltip .name {
    font-size: 1rem; }
  .ability-tooltip .description {
    color: #A6A8F5; }
    .ability-tooltip .description .spell-power {
      color: #99F399; }

#navigation-panel {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.313rem;
  background: #4e495f;
  color: white;
  flex: 0 1 auto; }
  #navigation-panel #room-info {
    margin-bottom: 1rem; }

.game-over {
  border-radius: 0.313rem;
  background: #4e495f; }
  .game-over .skull {
    height: 3rem;
    width: 3rem; }
  .game-over .skull:before {
    content: url("icons/skull-crack.svg"); }

.combat-text {
  position: absolute;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-name: combat-text-fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  /* Standard syntax */
  animation-name: combat-text-fade;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  opacity: 0.0;
  bottom: 0.25rem; }
  .combat-text.heal {
    color: #00ff55; }
  .combat-text.ally-damage {
    color: #ff9900; }
  .combat-text.take-damage {
    color: #ff0000; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes combat-text-fade {
  10% {
    opacity: 1.0; }
  80% {
    opacity: 1.0; }
  100% {
    opacity: 0.0;
    bottom: 2.25rem; } }
/* Standard syntax */
@keyframes combat-text-fade {
  10% {
    opacity: 1.0; }
  80% {
    opacity: 1.0; }
  100% {
    opacity: 0.0;
    bottom: 2.25rem; } }
#abilities-modal {
  height: 90vh;
  background: #3b3021;
  color: white;
  font-size: 0.875rem; }

#map-modal {
  height: 90vh;
  background: #3b3021;
  color: white; }
  #map-modal .ascii-content {
    font-size: 0.75rem;
    line-height: 1;
    height: 100%; }

.bar {
  position: relative;
  overflow: hidden;
  height: 1.5rem;
  border: 1px solid #333;
  border-radius: 0.1rem; }
  .bar .bar-layer {
    position: absolute;
    height: 100%; }
    .bar .bar-layer.background {
      background: linear-gradient(#666, #444); }
      .bar .bar-layer.background.red {
        background: linear-gradient(#800c0c, #5f0c0c); }
    .bar .bar-layer.health {
      background: linear-gradient(#00ff55, #009933); }
    .bar .bar-layer.mana {
      background: linear-gradient(#1a1aff, #0000cc); }
    .bar .bar-layer.shield {
      background: linear-gradient(#ddd, #888); }
    .bar .bar-layer.casting {
      background: linear-gradient(#ff9900, #995c00);
      box-shadow: 0 0 10px 6px white; }
    .bar .bar-layer.cast-complete {
      background: linear-gradient(#00ff55, #009933); }
    .bar .bar-layer.cast-canceled {
      background: linear-gradient(#cc0000, #660000); }
    .bar .bar-layer.bar-text {
      margin-left: 0.15rem;
      color: white;
      text-shadow: 1px 1px 1px #000; }
  .bar.cast-bar .bar-layer.bar-text {
    text-align: center; }

#spellbook-tooltip {
  position: absolute;
  border-radius: 0.25rem;
  border: 1px solid #91bbd4;
  width: 20rem;
  z-index: 2; }
  #spellbook-tooltip.show-right {
    right: -20.5rem;
    top: 0; }
  #spellbook-tooltip.show-left {
    top: 0;
    left: -20.5rem; }

#spellbook {
  padding: 1rem;
  background: #4a3a16; }

#ability-button-template, #equipped-ability-template, #spellbook-row-template, #spellbook-ability-template {
  display: none; }

.button-container .button-container-inner {
  width: 15rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background: #4d2525;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-flow: row; }
  .button-container .button-container-inner:hover {
    background: #622f2f;
    cursor: pointer; }
  .button-container .button-container-inner.selected {
    border: 1px solid white;
    background: #622f2f; }

.action-bar-button, .effect {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  line-height: 1;
  text-align: center;
  overflow: hidden; }
  .action-bar-button canvas, .effect canvas {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 2; }

.action-bar-button {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border: 1px solid black;
  cursor: pointer; }
  .action-bar-button.pressed {
    box-shadow: inset 0 0 4px 3px #438fff; }
  .action-bar-button.not-enough-mana {
    box-shadow: inset 0 0 0 3rem #001b4380; }
  .action-bar-button.invalid-target {
    box-shadow: inset 0 0 0 3rem #001b4380; }
  .action-bar-button.casting {
    box-shadow: inset 0 0 1px 1px #e7d000, inset 0 0 3px 3px #fff, inset 0 0 6px 6px #e7d000; }
  .action-bar-button .hotkey {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: 0.9rem;
    color: #fff;
    text-shadow: 1px 1px 1px #000; }

.effect {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border: 1px solid black;
  border-radius: 0.1rem;
  line-height: inherit; }
  .effect .effect-name {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0.5rem;
    color: white;
    font-size: 0.65rem; }
  .effect .duration {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -0.8rem;
    color: black;
    font-size: 0.75rem; }

.action-bar-button, .effect {
  /*    icons:    */
  /*    backgrounds:    */ }
  .action-bar-button.hand-bandage:before, .effect.hand-bandage:before {
    content: url("icons/hand-bandage.svg"); }
  .action-bar-button.healing:before, .effect.healing:before {
    content: url("icons/healing.svg"); }
  .action-bar-button.shield:before, .effect.shield:before {
    content: url("icons/shield.svg"); }
  .action-bar-button.mighty-force:before, .effect.mighty-force:before {
    content: url("icons/mighty-force.svg"); }
  .action-bar-button.splashy-stream:before, .effect.splashy-stream:before {
    content: url("icons/splashy-stream.svg"); }
  .action-bar-button.angel-outfit:before, .effect.angel-outfit:before {
    content: url("icons/angel-outfit.svg"); }
  .action-bar-button.explosion-rays:before, .effect.explosion-rays:before {
    content: url("icons/explosion-rays.svg"); }
  .action-bar-button.acorn:before, .effect.acorn:before {
    content: url("icons/acorn.svg"); }
  .action-bar-button.lotus-flower:before, .effect.lotus-flower:before {
    content: url("icons/lotus-flower.svg"); }
  .action-bar-button.light-thorny-triskelion:before, .effect.light-thorny-triskelion:before {
    content: url("icons/light-thorny-triskelion.svg"); }
  .action-bar-button.fairy:before, .effect.fairy:before {
    content: url("icons/fairy.svg"); }
  .action-bar-button.flowers:before, .effect.flowers:before {
    content: url("icons/flowers.svg"); }
  .action-bar-button.blank, .effect.blank {
    background: #373737;
    /* Old browsers */
    background: -moz-linear-gradient(top, #373737 0%, #2c2c2c 44%, #212121 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #373737 0%, #2c2c2c 44%, #212121 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #373737 0%, #2c2c2c 44%, #212121 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .action-bar-button.green-blue, .effect.green-blue {
    background: radial-gradient(circle farthest-corner at 10% 20%, #1ef05f 0%, #1428e1 90%); }
  .action-bar-button.pink, .effect.pink {
    background: linear-gradient(110.4deg, #fbcb9f 36%, #f489e9 82.4%); }
  .action-bar-button.sunny, .effect.sunny {
    background: radial-gradient(circle farthest-corner at 10% 20%, #fddd00 0%, #f06b05 90%); }
  .action-bar-button.yellow, .effect.yellow {
    background: radial-gradient(circle farthest-corner at 10% 20%, #ffc87c 0%, #fcfb79 90%); }
  .action-bar-button.beige, .effect.beige {
    background: radial-gradient(circle farthest-corner at 8.2% 19.3%, #d0b6b1 0%, #edc392 90.1%); }
  .action-bar-button.purple-blue, .effect.purple-blue {
    background: radial-gradient(circle farthest-corner at 3.6% 26.5%, #6a13fd 0.1%, #1286f2 90%); }
  .action-bar-button.opal, .effect.opal {
    background: radial-gradient(circle 253px at 12.6% 77.9%, #ddffd6 0.3%, #d6fefe 90.5%); }
  .action-bar-button.grey, .effect.grey {
    background: radial-gradient(circle farthest-corner at 10% 20%, #5e7b8f 0%, #acc0cd 90%); }
  .action-bar-button.black-red-yellow, .effect.black-red-yellow {
    background: linear-gradient(108.5deg, #1e3b5e 4%, #fd1d3e 49.3%, #ffe05e 96%); }
  .action-bar-button.purple-opal, .effect.purple-opal {
    background: radial-gradient(circle farthest-corner at 10.6% 23.3%, #baa2fc 0%, #b0f8f2 72.4%); }
  .action-bar-button.green-white, .effect.green-white {
    background-image: radial-gradient(circle farthest-corner at 73.4% 82.3%, #255e17, #f6fdd5 90%); }
  .action-bar-button.rainbow, .effect.rainbow {
    background: linear-gradient(111.1deg, #e93500 11.3%, #c813d3 37.6%, #328ea2 76.6%, #278aff 113%); }
  .action-bar-button.green-red, .effect.green-red {
    background-image: radial-gradient(circle farthest-corner at 15.4% 10.2%, #9ee49e 0%, #ff5050 90%); }
  .action-bar-button.brown, .effect.brown {
    background-image: radial-gradient(circle farthest-corner at 73.4% 82.3%, #996633 0%, #d9b38c 90%); }
  .action-bar-button.forest, .effect.forest {
    background: linear-gradient(to top, #6c493e, #58e585);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .action-bar-button.dracula, .effect.dracula {
    background: #DC2424;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A569D, #DC2424);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A569D, #DC2424);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.tabs {
  background: transparent;
  border: none; }

.tabs li a {
  background: transparent;
  color: #bfbfbf;
  padding: 0.75rem 1.5rem; }

.tabs li.is-active a {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/ }

.tabs li a:hover {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/ }

td.nostretch, th.nostretch {
  width: 1%;
  white-space: nowrap; }

table {
  background: transparent;
  margin-bottom: 0; }
  table tbody {
    background: transparent;
    border: none; }

table.no-rows tbody tr.even,
table.no-rows tbody tr:nth-of-type(even),
table.no-rows tbody tr.odd,
table.no-rows tbody tr:nth-of-type(odd) {
  background: transparent; }

table.tight-spacing tbody tr td {
  padding: 0.25em 0.25em; }

table.no-spacing tbody tr td {
  padding: 0; }

.button {
  border-radius: 0.313rem;
  margin-bottom: 0; }

a[disabled] {
  pointer-events: none;
  color: grey; }

/*# sourceMappingURL=main.css.map */
