/*  */
.log-paragraph {
  margin-bottom: 0; }

canvas {
  position:absolute;
  left: 0;
  right: 0;
  margin: auto
  /*alpha:0.5;*/
}
canvas#background-canvas {
  /*background: #D4A190;*/
  background: #b2cfff;
  /*z-index: 2;*/
  /*outline: 2px solid #3f3f3f; */
}
canvas#unit-canvas {
  /*background: red;*/
  /*outline: 1px solid red;*/
}

.canvas-container {
  z-index: 2;
  /* Keep above log-container so don't catch scroll events */
  position: absolute; }

.log-container {
  overflow-y: scroll; }

#base-log {
  height: 200px; }

html,
body {
  height: 100%;
  margin: 0
}

.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-box .flex-row {
  /*border: 1px dotted grey;*/
}

.flex-box .flex-row.flex-header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  background: #5f5f5f;
}

.flex-box .flex-row.flex-content {
  flex: 1 1 auto;
  text-align: center;
  background: #181918;
  padding: 2px;
}

.flex-box .flex-row.flex-footer {
  flex: 0 1 5rem;
  background: #5f5f5f;
  /*border: 1px solid #181918;*/
}

.tabs {
  background: transparent;
  border: none;
}
.tabs li a {
  background: transparent;
  color: #bfbfbf;
}
.tabs li.is-active a {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/
}
.tabs li a:hover {
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  /*background: #6f6f6f;*/
}